table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle; /* 상하 가운데 정렬 */
}


ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    display: inline;
    margin-right: 10px;
}
form {
    display: inline;
}