table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
}

ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    display: inline;
    margin-right: 10px;
}
form {
    display: inline;
}